@media screen and (max-width: 1400px) {
    .welcome-section{
        flex-wrap: wrap;
    }   
}
@media screen and (max-width: 1300px) {
    .product-images{
        grid-template-columns: repeat(4, 1fr);
    } 
    .about-text-1 {
        padding: 5rem;
    }
}
@media screen and (max-width: 1200px) {
    .product-images{
        grid-template-columns: repeat(3, 1fr);
    } 
    .about-text-1 {
        padding: 4rem;
    }
    .about-text-1 h1{
        font-size: 2.5rem;
    }
    .about-text{
        font-size: 1.45rem;
        padding-right: 2rem;
    }
    .about-img{
        height: 36rem;
    }

}

@media screen and (max-width: 1000px){
    #nav-bar{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }  
    .about-img{
        height: 65vh;
    }
    .about-text-1{
        padding: 2.8rem;
    }    
    .about-text-1 h1{
        font-size: 2rem;
    }
    .about-text{
        font-size: 1.3rem;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 850px) {
    .about-img{
        height: 50vh;
    }
}
@media screen and (max-width: 750px){
    .about-img{
        float: left;
        height: 45vh;
    }
    .about-text{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 700px) {
    footer {
        height: 40vh;
    }
    .welcome-page {
        margin-bottom: 0;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .product-images{
        grid-template-columns: repeat(1, 1fr);
    } 

}
@media screen and (max-width: 600px) {
    .w-1, .w-2, .w-3, .w-4, .w-5, .w-6{
        grid-column: span 1;
    }
    .welcome-text{
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }
    .brand-name{
        font-size: 4rem;
        margin-left: -2rem;
    }
}

@media screen and ( max-width: 430px ) {
    .welcome-section{
        padding: 2rem;
        padding-top: 5rem;
    }
    .featured-items h4{
        font-size: 1rem;
    }
    .featured-items h1{
        font-size: 2rem;
    }
    footer {
        height: 47vh;
        padding-bottom: 5rem;
    }
    .w-1 {
        grid-row: span 1;
    }
}










@keyframes move-down {
    0%{
        top: 10%;
    }
    50%{
        top: 35%;
    }
    100%{
        top: 50%;
    }
}



