@media screen and (max-width: 1400px) {
    .welcome-section{
        flex-wrap: wrap;
    }   
}
@media screen and (max-width: 1200px) {
    #nav-bar{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }   
}
@media screen and (max-width: 500px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 600px) {
    footer {
        height: 40vh;
    }
    .welcome-page {
        margin-bottom: 0;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
}
@keyframes move-down {
    0%{
        top: 10%;
    }
    50%{
        top: 35%;
    }
    100%{
        top: 50%;
    }
}



