@media screen and (max-width: 1400px) {
    .welcome-section{
        flex-wrap: wrap;
    }   
}
@media screen and (max-width: 1300px) {
    .product-images{
        grid-template-columns: repeat(4, 1fr);
    } 
}
@media screen and (max-width: 1200px) {
    #nav-bar{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }  
    .product-images{
        grid-template-columns: repeat(3, 1fr);
    } 
}
@media screen and (max-width: 700px) {
    footer {
        height: 40vh;
    }
    .welcome-page {
        margin-bottom: 0;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .product-images{
        grid-template-columns: repeat(1, 1fr);
    } 

}
@media screen and (max-width: 500px) {
    .w-1, .w-2, .w-3, .w-4, .w-5, .w-6{
        grid-column: span 1;
    }
}
@keyframes move-down {
    0%{
        top: 10%;
    }
    50%{
        top: 35%;
    }
    100%{
        top: 50%;
    }
}



