/* HOME PAGE */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: monospace;
    box-sizing: border-box;
}
body{
    background-color: #1f1f1f;
    color: rgb(229 218 182);
}
.logo{
    height: 6rem;
    width: 100px;
    display: flex;
    padding: 0.5rem;
    margin-right: 4rem;
}
.nav-bar{
    justify-content: center;
    align-items: center;
    background: #1f1f1f;
    padding-top: 2px;
    padding-bottom: 4px;
    min-height: 10px;
    display: flex;
    padding: 0;
    margin: 0;
    z-index: 1;
}
.nav-buttons {
    display: flex;
    font-size: 1.3rem;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}
nav .nav-buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
    z-index: 1;
}
nav {
    justify-content: space-around;
    display: flex;
}
.nav-btn{
    color: rgb(229 218 182);
    text-decoration: none;
}
.nav-btn:hover {
    color: white;
}
.cart {
    height: 2.5rem;
    cursor: pointer;
}
.nav-rightside {
    color: #1f1f1f;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 20rem;
    text-decoration: none;
}
.contact-us {
    width: 10rem;
    height: 3rem;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: #f7e8cf;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.contact-btn-text{
    color: #1f1f1f;
}
.contact-us:hover {
    background-color: #f7e8cf;
    color: #1f1f1f;
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
}
.contact-us:active {
    transform: translateY(-1px);
}

/* Hamburger Menu */
#hamburger-nav {
    display: none;
    z-index: 1;
}
.hamburger-menu {
    position: relative;
    display: inline-block;
    z-index: 1;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 33px;
    width: 30px;
    cursor: pointer;
    padding: 5px;
    margin: 2rem;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #f7e8cf;
    transition: all 0.3 ease-in-out;
}
.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links a:hover {
    color: #a18350;
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 300px;
}
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}



/* MAIN */
.welcome-page {
    align-items: center;
}
.welcome-text{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(241, 238, 227);
}
.hand-written-font{
    font-family: 'Great Vibes', cursive;
}
.brand-name{
    font-size: 5rem;
    text-align: center;
    margin: 0;
    color: #f7e8cf;
    font-family: 'Great Vibes', cursive;
}
.welcome-section{
    background-image: url(Images/background-image.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem;
    padding-bottom:15rem;
}
.welcome-section-buttons{
    text-align: center;
    padding-top: 4rem;
}

.welcome-section-button1{
    height: 3rem;
    width: 13rem;
    padding: 1px 5px;
    border-radius: 15px;
    color: #1f1f1f;
    z-index: 1;
    background: #f7e8cf;
    position: relative;
    font-size: 17px;
    font-weight: 700;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    border-color: #f7e8cf;
} 
 
.welcome-section-button1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}
   
.welcome-section-button1:hover {
    color: #e8e8e8;
    background-color: var(--btnSecondaryBg);
}
   
.welcome-section-button1:hover::before {
    width: 100%;
}

   
.welcome-section-button2{
    height: 3rem;
    width: 13rem;
    padding: 1px 5px;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background: var(--btnSecondaryBg);
    position: relative;
    font-weight: 700;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    border-color: #f7e8cf;
} 
 
.welcome-section-button2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #f7e8cf;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
.welcome-section-button2:hover {
    color: #1f1f1f;
    background-color: #f7e8cf;

}
   
.welcome-section-button2:hover::before {
    width: 100%;
}

/*PRODUCT IMAGES*/
.featured-items{
    padding-top: 3rem;
    margin: 0 5%;
    text-align: center;
}
.featured-items h4{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 100;
}
.featured-items h1{
    font-family: 'Oswald', sans-serif;
    padding: 2rem;
    font-size: 4rem;
    font-weight: 500;
    margin: 1rem;
    margin-top: -2rem;
}
.product-images{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 333px 300px;
    grid-gap: 12px;
    grid-auto-flow: dense;
}
.product-image{
    width: 100%;
    height: 100%;
    position: relative;
}
.product-image .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.product-image .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.product-image:hover .image img{
    transform: scale(1.2);
}
.product-image .img-text{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7e8cf;
    font-size: 2rem;
    pointer-events: none;
    z-index: 4;
    transition: 0.3s ease-in-out;
    -webkit-backdrop-filter: blur(1px) saturate(1.8);
    backdrop-filter: blur(1px) saturate(1.8);
}
.product-image:hover .img-text{
    opacity: 1;
    animation: move-down 0.3s linear;
    padding: 1rem;
    width: 100%;
}
.img-text{
    font-family: 'Agbalumo', sans-serif;
    background-color: #1f1f1f;
}
.p-1{
    grid-row: span 2;
    grid-column: span 1;
}
.p-6{
    grid-column: span 2;
}

.featured-items-button{
    margin: 3rem;
}

/* FOOTER */
footer{
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    background-color: black;
    padding: 4rem;
    padding-bottom: 1px;
}
.contact h6{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}
.contact h2{
    font-family: 'Oswald', sans-serif;
    padding: 2rem;
    font-size: 4rem;
    font-weight: 500;
    margin: 1rem;
    margin-top: -2rem;
}


.social {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}
.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

/* INSTAGRAM */
.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
.instagram {
    margin-top: 1em;
    margin-left: 2.3em;
    width: 44px;
    height: 30px;
}
.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
}
.insta-gradient{
    display: block;
    width: 42px;
    height: 31px;
}
.insta-white{
    display: none;
}
.card1:hover .insta-gradient{
    display: none;
}  
.card1:hover .insta-white{
    display: block;
}  


/* TWITTER(X) */
.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}
  
.twitter {
    margin-top: 1em;
    margin-left: 1.5em;
    width: 33px;
    height: 28px;
  }
.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #1f1f1f;
}
.x-black {
    display: block;
}
.x-white{
    display: none;
}
.card2:hover .x-black{
    display: none;
}
.card2:hover .x-white{
    display: block;
}


  
/* FACEBOOK */
.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}
.facebook {
  margin-top: -1em;
  margin-left: 2em;
  width: 51px;
  height: 30px;
}
.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1877f2;
  transition: .2s ease-in-out;
}

.fb-white{
    display: block;
}
.fb-blue{
    display: none;
}
.card3:hover .fb-blue {
    display: block;
}
.card3:hover .fb-white{
    display: none;
}

/* EMAIL */
.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.email {
    margin-top: -1em;
    margin-left: 1.4em;
    width: 44px;
    height: 46px;
  }
.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #f84437;
}
.email-white {
    display: block;
}
.email-black {
    display: none;
    margin-left: 1.1em;
    margin-top: -0.9em;
}
.card4:hover .email-white {
    display: none;
}
.card4:hover .email-black {
    display: block;
}

footer p{
    margin-top: 5rem;
    text-align: center;
    cursor: default;
}








/* ABOUT PAGE */

.about-us-p1{
    background-color: black;
    display: flex;
    gap: 2rem;
}
.about-img {
    width: 100%;
    object-fit: cover;
}

.about-img-container{
    width: 65%;
}

.about-text-1{
    padding: 5% 0;
    width: 35%;
}
.about-text-1 h4{
    font-size: 14px;
    font-family: Oswald, serif;
    object-fit: cover;
}
.about-text-1 h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.4rem;
}
.about-text{
    margin-top: 2rem;
    font-family: rokkitt, serif;
    font-size: 1.3rem;
    padding-right: 5rem;
    color: white;
    object-fit: cover;
}


.text-block-2{
    font-family: Oswald, serif;
    font-size: 4rem;
    text-align: center;
    margin: 5rem;
}

.block-3{
    padding: 2rem;
    background-color: black;
}

.subscribe-form{
    display: flex;
    gap: 2rem;
}

.subscribe-left{
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.subscribe-left img{
    width: 100%;
}

.subscribe-right{
    width: 50%;
    padding: 12% 0;
    padding-right: 1rem;
}

.subscribe-right p{
    color: white;
}

.subscription-title{
    font-family: Oswald, serif;
    padding: 1rem 0;
    font-size: 2.5rem;
}

.subscription-text-box{
    display: flex;
    padding: 1rem 0;
    width: 90%;
}

.subscription-text-box input{
    width: 70%;
    border-style: hidden;
    padding: 1rem;
}

.subscribe-button{
    width: 30%;
    background-color: rgb(229 218 182);
    border-style: hidden;
}

.subscribe-button:hover {
    cursor: pointer;
}

.about-footer{
    padding: 0;
    margin-top: 1rem;
}

.footer-logo{
    height: 50%;
}

.footer-logo img{
    height: 10rem;
}

.copyright{
    height: 50%;
    padding: 1rem;
    margin-top: -4rem;
}





/* STORE */
.products {
    box-sizing: border-box;
    width: 100%;
}

.products-menu {
    background-color: white;
    color: black;
    font-family: monospace;
    padding: 2rem;
    padding-bottom: 4rem;
}

.products-menu ul {
    position: sticky;
    top: 11rem;
}

.products-container {
    box-sizing: border-box;
    width: 100%;
}

.products-menu li{
    list-style: none;
    margin: 8px 0px;
}

.products-menu li:hover {
    color: rgb(186, 172, 126);
    cursor: pointer;
}

.changeColor{
    color: rgb(186, 172, 126); 
}

.store-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 320px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
    margin: 1rem;
    padding-right: 0;
}

.prod{
    width: 100%;
    height: 90%;
    position: relative;
}
.prod img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
}

.product-title {
    background-color: white;
    color: darkkhaki;
    text-align: center;
    padding: 1rem;
    margin-left: -1rem;
}

.purchase-tag {
    display: flex;
    gap: 3rem;
    height: 10%;
    padding: 0.5rem;
}

.price {
    text-align: center;
    color: rgb(186, 172, 126);
    width: 60%;
    cursor: default;
}

.buy-btn {
    background-color: antiquewhite;
    width: 6rem;
    height: 2rem;
    color: black;
}

.buy-btn:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: white;
}


.r1{
    grid-row: span 1;
}
.r2{
    grid-row: span 2;
}
.r3{
    grid-row: span 3;
}
.r4{
    grid-row: span 4;
}

.c1{
    grid-column: span 1;
}
.c2{
    grid-column: span 2;
}
.c3{
    grid-column: span 3;
}
.c4{
    grid-column: span 4;
}




.product1{
    display: flex;
}
.product2{
    display: none;
}
.product3{
    display: none;
}
.product4{
    display: none;
}
.product5{
    display: none;
}
.product6{
    display: none;
}
.product7{
    display: none;
}
.product8{
    display: none;
}




.store-main{
    display: flex;
}

#cameraLenses {
    color: #a18350;
}


.copyright-text{
    padding-top: 1.6rem;
}












